.host {
    width: 100%;
    height: 100%;
    background: rgb(231, 219, 219);
    padding: 10px;
}

.titleDiv {
    display: flex;
    padding: 5px 0;

    div {
        height: 100%;
        display: block;
        font-weight: bold;
    }
    .disk{
        color: gray;
    }
}

.ant-card {
    margin: 10px;
}
.tag{
    color: #000;
    height: 0.36rem;
}

// 1400px
@media screen and (max-width: 1400px) {
 
    .ant-row{
        // display: block;
    }
     
}

